.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  border-radius: 5px;
  padding: 0.3rem;
  width: 70%;
  min-width: 16rem;
  border: 1px solid rgb(95, 95, 95);
}

@media only screen and (min-width: 1366px) {
  .input {
    width: 90%;
  }
}
