.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.p {
  font-size: 1rem;
  word-wrap: wrap;
  word-break: break-all;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .p {
    font-size: 1.2rem;
  }
}
