@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.3rem;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
}
.years,
.school {
  font-weight: bold;
}

.degree {
  font-family: cursive;
  font-style: oblique;
}
