.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.3rem;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
}
.years,
.school {
  font-weight: bold;
}

.degree {
  font-style: italic;
}
