@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
.app {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;
  background-color: rgb(231, 231, 231);
  min-height: 100vh;
}

.cv-forms-section {
  padding: 3rem;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 90%;
  gap: 2.5rem;
  border-radius: 9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
}

.delete-button,
.add-button {
  background-color: #f50057;
  color: white;
  padding: 0.6rem 0.9rem;
  border-radius: 5px;
  border: none;
  min-width: 16rem;
  width: 70%;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.delete-button {
  background-color: #f50057;
}
.add-button {
  background-color: rgb(7, 196, 7);
}
@media only screen and (min-width: 540px) {
  .cv-forms-section {
    width: 80%;
  }
}

@media only screen and (min-width: 1440px) {
  .main-section {
    flex-flow: row nowrap;
    gap: 1rem;
    padding: 0rem 0.8rem;
    align-items: flex-start;
  }
  .cv-forms-section {
    width: 50%;
  }
  .add-button,
  .delete-button {
    width: 90%;
  }
}
