.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title {
  font-size: 1.2rem;
  font-weight: bold;
}
.hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  background-color: #000000;
  height: 1px;
}
