@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
.header {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(119, 54, 215);
  background: linear-gradient(
    90deg,
    rgb(193, 177, 218) 11%,
    rgb(148, 205, 224) 79%
  );
}

.title {
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
  font-family: "Playfair Display", serif;
}

@media only screen and (min-width: 540px) {
  .title {
    font-size: 3.2rem;
  }
}
