.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.heading {
  font-size: 1.4rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.8rem;
  align-items: center;
  width: 100%;
}

.input {
  border-radius: 5px;
  padding: 0.3rem;
  width: 70%;
  border: 1px solid rgb(95, 95, 95);
  min-width: 16rem;
}

.textarea {
  padding: 0.3rem;
  border: 1px solid rgb(87, 86, 86);
  border-radius: 5px;
  min-width: 16rem;
  width: 70%;
}
