@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 1rem;
}
.general {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5rem;
}
.info {
  font-size: 1rem;
  word-wrap: wrap;
  word-break: break-all;
}

.span {
  font-weight: bold;
  margin-right: 0.2rem;
  font-family: "Josefin Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
  .info,
  .span {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1366px) {
  .container {
    text-align: center;
  }
}
